<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.tausch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Misc.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".Activities.LaunchScreen"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.Registration"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.HomePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="TmSqI4P8SjM0GpmeROFwxYpzSBlsEtYp5aQXbhhS" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="sEUcfQaYWWBIJWdPdK4svwTL2EDkg6vins7Hhn9a" />

        <activity
            android:name=".Activities.ChatFragment"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
